/* -----------------------------------
Template:  Theme Name

NOTE: This is top-news artcle file. All artcle related style included in this file.
*/
.single-artcle{
	overflow:hidden;
	position:relative;
	border: 1px solid #DCDCDC;
	padding-bottom: 20px;
	
}
.article-img{}
.article-img a{
	display:inline-block;
	position:relative;
}
.article-img a img{}
.article-info > a {
  background: #f1f1f1 none repeat scroll 0 0;
  display: inline-block;
  font-family: raleway;
  padding: 12px 30px;
  text-transform: uppercase;
  position: relative;
  top: -22px;
}
.article-img > a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  content: "";
  opacity:0;
  transition:all .4s;
}
.article-icon > a {
  font-size: 20px;
  border: 1px solid#666;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  margin:   0 5px;
  color: #666;
}
.article-icon > a:hover{
	background:#102143 ;
	color:#fff;
    border: 1px solid#102143 ;
}
.article-info > a:hover{
	background:#102143 ;
	color:#fff;	
}

.single-artcle:hover .article-img > a:before{opacity:.5;}

.article-img > a:after {
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #102143 ;
  content: "\f278";
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  height: 30px;
  left: 0;
  line-height: 28px;
  margin: auto;
  opacity:0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 46%;
  transform: scale(3);
  transition: all 0.3s ease 0s;
  width: 30px;
}
.single-artcle:hover .article-img > a:after{
	transform:scale(1);
	opacity:1;
}