/* -----------------------------------
Template:  Theme Name

NOTE: This is catagory style file. All catagory related style included in this file.

--------------------------------------*/
.single-caragory{
	position:relative;
	overflow:hidden;
}
.single-caragory a{
	display:inline-block;
	position:relative;
}
.single-caragory a img{}
span.life {
  position: absolute;
  top: 0;
  left: 0;
  background: #F1F1F1;
  text-transform: uppercase;
  padding:  10px 20px ;
  font-family: raleway;
  transition:all .4s;
}
.single-caragory > a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  content: "";
  opacity:0;
  transition: all .4s;
}
.single-caragory:hover a:before{opacity:.6}
.single-caragory:hover span.life{background:#102143 ;color:#fff;}


.single-caragory > a::after {
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #102143 ;
  content: "\f278";
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  height: 30px;
  left: 0;
  line-height: 28px;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 46%;
  transform: scale(3);
  transition: all 0.3s ease 0s;
  width: 30px;
  z-index: 1;
}
.single-caragory:hover a::after{opacity:1;transform:scale(1)}







